numpy
pandas
tqdm
scikit-learn
scipy
matplotlib
seaborn
names
ftfy
numba
sentence_transformers
datasets
peft==0.5.0
trl
wandb
bitsandbytes==0.41.1
sentencepiece
nltk
transformers==4.32.1
torch
accelerate==0.22.0
nvidia-ml-py3
openai